@model StayDetailsViewModel
@{ 
    
    ViewBag.Title = "Stay Details";
}


<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Guest.Forename, @Model.Stay.StayId</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/UU.jpg"  asp-append-version="true"/>

                <h4>Stay ID : @Model.Stay.StayId</h4>
                <h4>StartDate : @Model.Stay.StartDate.ToString("dd/MM/yyyy")</h4>
                <h4>EndDate : @Model.Stay.EndDate</h4>
                <h4>EmergencyContactNumber : @Model.Stay.EmergencyContactNumber</h4>
                <h4>GuestID : @Model.Guest.Id</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-controller="stay" , asp-action="index" class="btn btn-primary">Back</a>
                <a asp-controller="stay" asp-action="edit"
                   asp-route-id="@Model.Stay.StayId" class="btn btn-primary m-1">Edit</a>
                <a asp-controller="stay" , asp-action="Delete" class="btn btn-danger">Delete</a>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/CustomScript.js"></script>
    }