@model HomeDetailsViewModel

@{ 
    
    ViewBag.Title = "Guest Details";
}


    <h3>@Model.PageTitle</h3>
    
    <div>
        Forename: @Model.Guest.Forename
    </div>
    <div>
        Surname: @Model.Guest.Surname
    </div>
    <div>
        DateOfBirth: @Model.Guest.Date_Of_Birth
    </div>
    <div>
        PhotoPath: @Model.Guest.PhotoPath
    </div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
    }